.toolbar_ {
	background-color: #4caf50;
	background-color: black;
	color: white;
	padding-left: 7px;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.menu_toolbar a:hover, a:focus, a:active {
    color: #4caf50;
    text-decoration: none;
}
.menu_toolbar a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
.menu_toolbar a {
    position: relative;
    display: block;
    padding: 10px 0;
    margin: 0 5px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
.menu_toolbar a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #4caf50;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
.menu_toolbar a:active::before {
    background-color: #4caf50;
}
.menu_toolbar a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}



.menu_toolbar ol, ul {
    list-style: none;
}
.menu_toolbar li {
    display: inline-block;
    padding: 20px 10px 10px;
    vertical-align: middle;
}

.toolbar_ a {
	color: white;
	text-transform: uppercase;
}

.menu_toolbar p{
	padding-top: 15px;
	padding-left: 85px;
}

.toolbar_ a:hover {
	color: #43a047;
}



.conteudo{
	min-height: calc(100vh - 50px);
	padding-top: 30px;
}



.login_box {
	width: 400px;
	border-style: 1px solid black;	
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background-color: rgb(230, 230, 230);
  color: rgb(0,0,102);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-text {
	color: rgb(0,0,102);
	text-transform: uppercase;
}

.texto {
	color: rgb(0,0,102);
	text-transform: uppercase;
  font-size: 15px;
}

label {
  color: rgb(0,0,102);
  vertical-align: bottom;
}

.form_box {
	background-color: white;
  margin-right: 50px;
  margin-left: 50px;
}

.form_cadastro input, textarea{
	border: 1px;
}

.form_cadastro input:focus, textarea:focus{
    box-shadow: 0 0 5px rgb(0,0,102);
}

textarea{
	resize: none;
}
